.top-offset {
    margin-top: 60px;
}
.top-menu {
    z-index: 1;
    position: fixed;
    width: 100%;
    min-width: 1000px;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    height: 60px;
    box-shadow: 0px -6px 15px 0px #6e6e6e;
}
.menu-items {
    position: relative;
    list-style: none;
    line-height: 59px;
    float: right;
    margin-right: 70px;
}
.menu-items .brand {
    position: fixed;
    left: 40px;
    font-family: "Lato";
    font-weight:   100;
    color: #ccc;
    font-size: 25px;
}
.menu-items .menu-item {
    float: left;
    min-width: 90px;
    text-align: center;
}
.menu-items .menu-item a {
    display: block;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #7f7e80
}
.menu-items .menu-item:hover {
    border-bottom: 1px solid #ef008b;
    transition: all 0.2s ease 0s;
}
.menu-items .menu-item a:hover {
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.menu-items .menu-item a:active {
    text-decoration: none;
    color: #b60009;
}
.menu-items .menu-item a:visited {
    text-decoration: none;
}
.menu-items .menu-item a:link {
    text-decoration: none;
}
.menu-items .active-item {
    border-bottom: 1px solid #ef008b;

}
.menu-items .active-item a {
    color: #b60009;
}
footer {
    height: 52px;
    background-color: #2e3f51;
    color: white;
    text-align: center;
    font-size: 12px;
}
footer p {
    padding: 20px;
}
.modal-header {
    background-color: darkorange;
}
.modal-title {
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.modal-content div{
    border: none;
}
.modal-body {
    text-align: justify;
}
.modal-body ol li {
    color: #747374;
    font-size: 12px;
}
.contact-btn{
    text-align: center;
    margin-top: -13px;
}
.contact-btn button{
    border: none;
    color: #0095eb;
    border-radius: 2px;
    padding: 5px;
    width: 100px;
    background-color: transparent;
}
.hotel-details {
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hotel-details:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hotel-details:hover, .hotel-details:focus, .hotel-details:active {
    color: white;
}
.hotel-details:hover:before, .hotel-details:focus:before, .hotel-details:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}










