.index-container {
    position: relative;
    top: 60px;
    width: 100%;
}
.index-container .row {
    width: 100%;
}
.item img {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
}
h1.caption {
    font-size: 28px;
    color: #2c3e50;
    font-weight: bold;
    font-family: 'Poiret One';
    text-align: center;
 }
.row .description {
    font-size: 14px;
    color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.row .icon-desc {
    font-size: 30px;
    color: #ef008b;
    text-align: center;
    float: right;
}
.bg-gray {
    background-color: rgba(232, 232, 232, 0.3);
    width: 100%;
    height: 65%;
}
.mixedContent {
    width:100%;
    height: 370px;
    position: relative;
}

.mixedContent .contentBox {
    position: relative;
    top: 10px;
    float: left;
    display: block;
    height: 340px;
    width: 250px;
    border: solid 1px #ccc;
    box-shadow: 3px 3px 7px 0px #6e6e6e;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
    /* If you don't want the images in the scroller to be selectable, try the following
       block of code. It's just a nice feature that prevent the images from
       accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.mixedContent ul {
    list-style: none;
}
.mixedContent .contentBox .hotel-name {
    font-family: "Courier New";
    font-size: 17px;
    color: #949494;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}
.mixedContent .contentBox .hotel-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.mixedContent .contentBox .hotel-stars {
    margin-top: 10px;
    color: gray;
    border-bottom: 1px solid #ccc;
}
.mixedContent .contentBox .hotel-stars .active {
    color: gold;
}
.mixedContent .contentBox .hotel-location {
    color: gray;
    font-size: 12px;
    background-color: whitesmoke;
}
.mixedContent .contentBox .hotel-status {
    color: #ccc;
    background-color: whitesmoke;
    font-size: 10px;
    border-bottom: 1px solid #ccc;
}
.mixedContent .contentBox .hotel-price {
    color: white;
    background-color: #00b902;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    border: 1px solid #00b902;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
}
.hotel-details a {

    font-size: 12px;
    padding: 4px 20px 4px 20px;
    display: block;
}
.hotel-details a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease 0s;
}
.hotel-details a:active {
    text-decoration: none;

}
.hotel-details a:visited {
    text-decoration: none;
}
.hotel-details a:link {
    text-decoration: none;
}
input.form-control, textarea.form-control {
    border-radius: 2px;
    border: none;
    background-color: #f0eef1;
    font-size: 12px;
    margin-top: -2px;
}
.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    top: 19px;
    padding: 10px;
    color: #cecece;
    font-size: 13px;
}
.right-addon .glyphicon { right: 0px;}
.right-addon input { padding-right: 30px; }
#map {
    width: 100%;
    height: 405px;
}
.contact-form {
    list-style: none;
    height: 400px;
    background-color: rgba(232, 232, 232, 0.3);
    box-shadow: 3px 3px 7px 0px #6e6e6e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}
.contact-form .caption {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: darkorange;
    color: white;
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}
.contact-form .content {
    color: #747374;
    font-weight: bold;
    font-size: 12px;
    margin-top: 55px;
}
.contact-form .content textarea {
    resize: none;
}








